<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src=<%= asset_path "main.jpeg" %>>
</section>
<section class="about">
  <h1>Kenstagram detail</h1>
  <p>
    Kenstagramは大課題２で作成したアプリです。<br>
    Kenstagramはコミュニケーション用アプリです。
  </p>
</section>
<section class="function container-fluid">
  <h2></h2>
</section>