<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src=<%= asset_path "http://www.gizmodo.jp/images/2016/10/161019docomo_16winter_thumb1.jpg" %>>
</section>
 <section class="about">
  <h1>Kenstagram detail</h1>
  <p>
    Kenstagramは、大課題２で作成したアプリです。<br>
    Kenstagramを一言で表すと、コミュニケーション用アプリです。
  </p>
  <p>
    作成期間は約２週間です。<br>
  </p>
 </section>
  <section class="function container-fluid">
    <h2></h2>
  </section>
