.wrapper col-md-8 col-md-offset-2 col-sm-10-index {
  margin-top: 100px;
}

.col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1-confirm {
  margin-top: 100px;
}

.col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1-edit {
  margin-top: 100px;
}

.wrapper {
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;
  .row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }
}
input[type="submit"].btn-block{
  margin: 15px 0;
}

.container{
  margin-top: 100px;
  padding-bottom: 85px;
}
.picture {
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
  img {
    width: 55%;
  }
  .picture.buttun {
    width: 150px;
    height: 30px;
    padding-left: 15px;
    padding-top: 2px;
    margin-bottom: 3px;
  }
}

.field {
  margin-top: 10px;
}