.navbar-default {
    border: 0;
}

.navbar {
    background-color: transparent;
    color: #000000;
    font-size: 15pt;
    margin-top: 2px;
    margin-left: 90px;
}

.navbar-default {
  .navbar-brand {
    color: #000000;
    font-family: "cursive", cursive;
    font-size: 28pt;
    &:hover {
      color: white;
    }
  }
  .navbar-nav > li > a {
    color: #000000;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #C0C0C0;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

.main-header {
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 85%;
  padding-top: 15%;
}

.about {
  background-color: white;
  color: #333;
  padding-top: 10px;
  padding-bottom: 30px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

a.btn.btn-default {
  padding: 0px 5px 0px 5px;
}
