<p>こんにちは、 <%= @resource.email %>さん。</p>
<p>パスワードの変更を求めています。 下記のリンクからパスワードを変更して下さい。</p>
<p><%= link_to 'パスワードを変更してください', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>パスワードを変更した場合、現在のパスワードは使用できなくなります。</p>
<p>上記のリンクにアクセスし、新しいパスワードへ変更して下さい。</p>